{% extends 'base.html.twig' %}

{% block title %}Julixid{% endblock %}

{% block body %}
<main>
    <p class="ma-super-home">Ma super home</p>
    <img src="{{ asset('build/files/profile_1.png') }}">

    <p> ceci est un paragraphe de test pour voir si tout se met bien à jour avec le script sh</p>
    <p> si ce texte s'affiche c'est que ça marche !</p>
</main>
{% endblock %}
