{% extends 'base.html.twig' %}

{% block title %}Julixid{% endblock %}

{% block body %}
<main>
    <p class="ma-super-home">Ma super home</p>
    <img src="{{ asset('build/files/profile_1.png') }}">
</main>
{% endblock %}
